extends layout

block content
  header
    .logo 
      img(src="img/logo-eyevinn.png")
    h1= title
  .container
    .main-content
        table.jobtable
          thead
            tr
              th Time
              th Source
              th Transcodings
          tbody
            each job,index in jobarray
              tr
                td.createTS #{moment(job.createTS).format("YYYY-MM-DD HH:mm")}
                if job.source.match(/\/([^\/]*$)/)[1].length>25
                  td.source #{job.source.match(/\/([^\/]*$)/)[1].substr(0,22) + '...'}
                else
                  td.source #{job.source.match(/\/([^\/]*$)/)[1]}
                td
                  table.transcodingtable
                    thead
                    tbody
                      each tcd_job in job.tcd_job
                        tr
                          td.format=tcd_job.format
                          td.progress #{tcd_job.progress * 100}%
                          td.status=tcd_job.status
                          td.message=tcd_job.message
                  
  footer
    p Developed by Eyevinn
