extends layout

block content
  header
    h1= title
  .container
    .main-content
        table
          thead
            tr
              th Source
              th Transcodings
          tbody
            each job,index in jobarray
              tr
                td=job.source
                td
                  table
                    thead
                    tbody
                      each tcd_job in job.tcd_job
                        tr
                          td=tcd_job.format
                          td=tcd_job.progress
                          td=tcd_job.status
                  
  footer
    p Developed by Eyevinn
